.md-search__form {
  border-radius: 20px;
}

header {
  padding: 0.2rem 0;
}

.md-typeset h1 {
  color: hsla(var(--md-hue), 75%, 90%, 0.8);
}

label.md-nav__title {
  display: none;
}

.md-grid {
  max-width: 1000px; 
}

.md-typeset table:not([class]) {
  font-size: .72rem;
}